/* App.module.css */
.container {
  min-height: 100vh;
  background-color: #f7f9fa;
}

.main {
  min-height: 100vh;
  max-width: 900px;
  margin: 0 auto;
  background-color: #fff;
}

.inputContainer {
  flex-basis: 100px;
  align-self: end;
  margin: 10px;
}
