/* Loading.module.css */
@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loadingContent {
  font-size: 1.5rem;
  padding: 10px;
  text-align: center;
  animation: opacity 2s linear infinite;
}
